.tropical-adventure-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 800px;
  width: 100%;
}

.tropical-adventure-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 400px;
  background-color: antiquewhite;
  justify-content: space-between; /* Horizontal alignment: space elements evenly */
  align-items: center; /* Vertical alignment: center elements vertically */
  border-radius: 10px;
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 40px;
}

.image-profile {
  width: 70px;
  height: 55px;
  margin: 0px;
}

.heading1 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  margin-left: 0px;
}
.para {
  margin: 0px;
  padding: 0px;
}

.un-order-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.list {
  margin-right: 20px;
  margin-bottom: 10px;
}

.para1 {
  font-size: 20px;
  font-weight: 700;
}
